./tools/extensions/simple-knn/build/*
./tools/extensions/simple-knn/dist/*
./tools/extensions/simple-knn/simple_knn.egg-info/*
./tools/extensions/simple-knn/.git/*


./tools/extensions/cuda_projection/build/*
./tools/extensions/cuda_projection/dist/*
./tools/extensions/cuda_projection/cuda_projection.egg-info/*


./tools/extensions/cuda_skeleton/build/*
./tools/extensions/cuda_skeleton/dist/*
./tools/extensions/cuda_skeleton/cuda_skeleton.egg-info/*


./tools/extensions/nvdiffrast/build/*
./tools/extensions/nvdiffrast/dist/*
./tools/extensions/nvdiffrast/snvdiffrast.egg-info/*
./tools/extensions/nvdiffrast/.git/*

./tools/extensions/diff-gaussian-rasterization-mip/build/*
./tools/extensions/diff-gaussian-rasterization-mip/dist/*
./tools/extensions/diff-gaussian-rasterization-mip/diff-gaussian-rasterization-mip.egg-info/*
./tools/extensions/diff-gaussian-rasterization-mip/.git/*
./tools/extensions/diff-gaussian-rasterization-mip/third_party/glm/doc/*

./.idea
